# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import ast

# Import English Movie Data

In [2]:
movies_english=pd.read_csv("english movies data.csv")

In [3]:
movies_english=movies_english.drop(['time'],axis=1)

In [4]:
movies_english['cast']=movies_english['cast'].str.split('|').str[1]
movies_english['cast']=movies_english['cast'].str.split(':').str[1]

In [5]:
movies_english.head(1)

,title,genre,director,director_url,cast,description,rateing,poster,poster_url
0,The Shawshank Redemption,Drama,Frank Darabont,https://www.imdb.com/name/nm0001104/?ref_=adv_...,"Tim Robbins, Morgan Freeman, Bob Gunton, Will...",Two imprisoned men bond over a number of years...,9.3,https://m.media-amazon.com/images/M/MV5BMDFkYT...,https://www.imdb.com/title/tt0111161/?ref_=adv...

# Import Hindi Movie Data

In [6]:
movies_hindi=pd.read_csv('hindi movies data.csv')

In [7]:
movies_hindi['cast']=movies_hindi['cast'].str.split('|').str[1]
movies_hindi['cast']=movies_hindi['cast'].str.split(':').str[1]

In [8]:
movies_hindi.head(1)

,title,genre,time,description,director,director_url,cast,poster,poster_url
0,3 Idiots,"Comedy, Drama",170 min,Two friends are searching for their long lost ...,Rajkumar Hirani,https://www.imdb.com/name/nm0386246/?ref_=adv_...,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",https://m.media-amazon.com/images/M/MV5BNTkyOG...,https://www.imdb.com/title/tt1187043/?ref_=adv...

In [9]:
movies_hindi.isnull().sum()

title              0
genre            151
time            3983
description        0
director           9
director_url       9
cast            1389
poster             0
poster_url         0
dtype: int64

In [10]:
movies_hindi=movies_hindi.drop(['time'],axis=1)

# Drop Null values

In [11]:
movies_hindi.dropna(inplace=True)
print(movies_hindi.shape)

(8501, 8)

# Import Bengali Movie Data

In [12]:
movies_bengali=pd.read_csv('bengali movies data.csv')
movies_bengali.head(1)

,title,genre,director,director_url,cast,time,rateing,description,poster,poster_url
0,Redrum,"Mystery, Thriller",Vicky Zahed,https://www.imdb.com/name/nm5418890/?ref_=adv_...,Director: Vicky Zahed | Stars: Mehazabien Chow...,132 min,8.5,Famous musician Shohel is found dead in his be...,https://m.media-amazon.com/images/M/MV5BNWFmYj...,https://www.imdb.com/title/tt18184122/?ref_=ad...

In [13]:
movies_bengali['cast']=movies_bengali['cast'].str.split('|').str[1]

In [14]:
movies_bengali['cast']=movies_bengali['cast'].str.split(':').str[1]

In [15]:
movies_bengali.head(1)

,title,genre,director,director_url,cast,time,rateing,description,poster,poster_url
0,Redrum,"Mystery, Thriller",Vicky Zahed,https://www.imdb.com/name/nm5418890/?ref_=adv_...,"Mehazabien Chowdhury, Azizul Hakim, Nasir Udd...",132 min,8.5,Famous musician Shohel is found dead in his be...,https://m.media-amazon.com/images/M/MV5BNWFmYj...,https://www.imdb.com/title/tt18184122/?ref_=ad...

In [16]:
movies_bengali.isnull().sum()

title              0
genre            177
director           6
director_url       6
cast             282
time            2136
rateing         2315
description        0
poster             0
poster_url         0
dtype: int64

In [17]:
movies_bengali=movies_bengali.drop(['time','rateing'],axis=1)

In [18]:
movies_bengali.dropna(inplace=True)

In [19]:
print(movies_bengali.shape)

(4108, 8)

# Preprocessing All Movie Data

In [20]:
movies_english['description']=movies_english['description'].apply(lambda x:x.split())
movies_hindi['description']=movies_hindi['description'].apply(lambda x:x.split())
movies_bengali['description']=movies_bengali['description'].apply(lambda x:x.split())

In [21]:
movies_english['genre']=movies_english['genre'].tolist()
movies_english['cast']=movies_english['cast'].tolist()
movies_english['director']=movies_english['director'].tolist()

In [22]:
movies_english.dropna(inplace=True)

In [23]:
movies_english['cast']=movies_english['cast'].apply(lambda x:" ".join(x))

In [24]:
movies_english['genre']=movies_english['genre'].apply(lambda x:x.replace("-",""))
movies_english['cast']=movies_english['cast'].apply(lambda x:x.replace(" ",""))
movies_english['director']=movies_english['director'].apply(lambda x:x.replace(" ",""))

In [25]:
movies_english['genre']=movies_english['genre'].apply(lambda x:x.split())
movies_english['cast']=movies_english['cast'].apply(lambda x:x.split())
movies_english['director']=movies_english['director'].apply(lambda x:x.split())

In [26]:
movies_hindi['genre']=movies_hindi['genre'].tolist()
movies_hindi['cast']=movies_hindi['cast'].tolist()
movies_hindi['director']=movies_hindi['director'].tolist()

In [27]:
movies_hindi['cast']=movies_hindi['cast'].apply(lambda x:" ".join(x))

In [28]:
movies_hindi['genre']=movies_hindi['genre'].apply(lambda x:x.replace("-",""))
movies_hindi['cast']=movies_hindi['cast'].apply(lambda x:x.replace(" ",""))
movies_hindi['director']=movies_hindi['director'].apply(lambda x:x.replace(" ",""))

In [29]:
movies_hindi['genre']=movies_hindi['genre'].apply(lambda x:x.split())
movies_hindi['cast']=movies_hindi['cast'].apply(lambda x:x.split())
movies_hindi['director']=movies_hindi['director'].apply(lambda x:x.split())

In [30]:
movies_bengali['genre']=movies_bengali['genre'].tolist()
movies_bengali['cast']=movies_bengali['cast'].tolist()
movies_bengali['director']=movies_bengali['director'].tolist()

In [31]:
movies_bengali['cast']=movies_bengali['cast'].apply(lambda x:" ".join(x))

In [32]:
movies_bengali['genre']=movies_bengali['genre'].apply(lambda x:x.replace("-",""))
movies_bengali['cast']=movies_bengali['cast'].apply(lambda x:x.replace(" ",""))
movies_bengali['director']=movies_bengali['director'].apply(lambda x:x.replace(" ",""))

In [33]:
movies_bengali['genre']=movies_bengali['genre'].apply(lambda x:x.split())
movies_bengali['cast']=movies_bengali['cast'].apply(lambda x:x.split())
movies_bengali['director']=movies_bengali['director'].apply(lambda x:x.split())

In [34]:
movies_bengali.head(2)

,title,genre,director,director_url,cast,description,poster,poster_url
0,Redrum,"[Mystery,, Thriller]",[VickyZahed],https://www.imdb.com/name/nm5418890/?ref_=adv_...,"[MehazabienChowdhury,AzizulHakim,NasirUddinKha...","[Famous, musician, Shohel, is, found, dead, in...",https://m.media-amazon.com/images/M/MV5BNWFmYj...,https://www.imdb.com/title/tt18184122/?ref_=ad...
1,Pather Panchali,[Drama],[SatyajitRay],https://www.imdb.com/name/nm0006249/?ref_=adv_...,"[KanuBannerjee,KarunaBannerjee,SubirBanerjee,C...","[Impoverished, priest, Harihar, Ray,, dreaming...",https://m.media-amazon.com/images/M/MV5BMmFkND...,https://www.imdb.com/title/tt0048473/?ref_=adv...

In [35]:
movies_hindi.head(1)

,title,genre,description,director,director_url,cast,poster,poster_url
0,3 Idiots,"[Comedy,, Drama]","[Two, friends, are, searching, for, their, lon...",[RajkumarHirani],https://www.imdb.com/name/nm0386246/?ref_=adv_...,"[AamirKhan,Madhavan,MonaSingh,SharmanJoshi]",https://m.media-amazon.com/images/M/MV5BNTkyOG...,https://www.imdb.com/title/tt1187043/?ref_=adv...

In [36]:
movies_english.head(1)

,title,genre,director,director_url,cast,description,rateing,poster,poster_url
0,The Shawshank Redemption,[Drama],[FrankDarabont],https://www.imdb.com/name/nm0001104/?ref_=adv_...,"[TimRobbins,MorganFreeman,BobGunton,WilliamSad...","[Two, imprisoned, men, bond, over, a, number, ...",9.3,https://m.media-amazon.com/images/M/MV5BMDFkYT...,https://www.imdb.com/title/tt0111161/?ref_=adv...

# Add new column "tags"

In [37]:
movies_english['tags']=movies_english['description']+movies_english['genre']+movies_english['cast']+movies_english['director']
movies_hindi['tags']=movies_hindi['description']+movies_hindi['genre']+movies_hindi['cast']+movies_hindi['director']
movies_bengali['tags']=movies_bengali['description']+movies_bengali['genre']+movies_bengali['cast']+movies_bengali['director']

In [38]:
movies_english['tags']

0       [Two, imprisoned, men, bond, over, a, number, ...
1       [The, aging, patriarch, of, an, organized, cri...
2       [When, the, menace, known, as, the, Joker, wre...
3       [Gandalf, and, Aragorn, lead, the, World, of, ...
4       [In, German-occupied, Poland, during, World, W...
                              ...
4626    [Amy,, an, 11-year-old, girl,, joins, a, group...
4627    [A, tribe, of, cats, called, the, Jellicles, m...
4628    [A, young, singer, dates, a, disc, jockey, who...
4629    [Three, teens, living, in, LA,, all, victims, ...
4630    [Inspired, by, true, events, of, 2010, Polish,...
Name: tags, Length: 4630, dtype: object

In [39]:
movies_english.head(1)

,title,genre,director,director_url,cast,description,rateing,poster,poster_url,tags
0,The Shawshank Redemption,[Drama],[FrankDarabont],https://www.imdb.com/name/nm0001104/?ref_=adv_...,"[TimRobbins,MorganFreeman,BobGunton,WilliamSad...","[Two, imprisoned, men, bond, over, a, number, ...",9.3,https://m.media-amazon.com/images/M/MV5BMDFkYT...,https://www.imdb.com/title/tt0111161/?ref_=adv...,"[Two, imprisoned, men, bond, over, a, number, ..."

In [40]:
movies_hindi.head(1)

,title,genre,description,director,director_url,cast,poster,poster_url,tags
0,3 Idiots,"[Comedy,, Drama]","[Two, friends, are, searching, for, their, lon...",[RajkumarHirani],https://www.imdb.com/name/nm0386246/?ref_=adv_...,"[AamirKhan,Madhavan,MonaSingh,SharmanJoshi]",https://m.media-amazon.com/images/M/MV5BNTkyOG...,https://www.imdb.com/title/tt1187043/?ref_=adv...,"[Two, friends, are, searching, for, their, lon..."

In [41]:
movies_bengali.head(1)

,title,genre,director,director_url,cast,description,poster,poster_url,tags
0,Redrum,"[Mystery,, Thriller]",[VickyZahed],https://www.imdb.com/name/nm5418890/?ref_=adv_...,"[MehazabienChowdhury,AzizulHakim,NasirUddinKha...","[Famous, musician, Shohel, is, found, dead, in...",https://m.media-amazon.com/images/M/MV5BNWFmYj...,https://www.imdb.com/title/tt18184122/?ref_=ad...,"[Famous, musician, Shohel, is, found, dead, in..."

# Form 3 new data sets of movies containing 'Title' and 'Tags'

In [42]:
df_english=movies_english[['title','tags','poster_url']]
df_hindi=movies_hindi[['title','tags','poster_url']]
df_bengali=movies_bengali[['title','tags','poster_url']]

In [43]:
df_english['tags']=df_english['tags'].apply(lambda x:" ".join(x))
df_hindi['tags']=df_hindi['tags'].apply(lambda x:" ".join(x))
df_bengali['tags']=df_bengali['tags'].apply(lambda x:" ".join(x))

C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/1991139072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_english['tags']=df_english['tags'].apply(lambda x:" ".join(x))
C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/1991139072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hindi['tags']=df_hindi['tags'].apply(lambda x:" ".join(x))
C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/1991139072.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bengali['tags']=df_bengali['tags'].apply(lambda x:" ".join(x))

In [44]:
df_english.head()

,title,tags,poster_url
0,The Shawshank Redemption,Two imprisoned men bond over a number of years...,https://www.imdb.com/title/tt0111161/?ref_=adv...
1,The Godfather,The aging patriarch of an organized crime dyna...,https://www.imdb.com/title/tt0068646/?ref_=adv...
2,The Dark Knight,When the menace known as the Joker wreaks havo...,https://www.imdb.com/title/tt0468569/?ref_=adv...
3,The Lord of the Rings: The Return of the King,Gandalf and Aragorn lead the World of Men agai...,https://www.imdb.com/title/tt0167260/?ref_=adv...
4,Schindler's List,"In German-occupied Poland during World War II,...",https://www.imdb.com/title/tt0108052/?ref_=adv...

In [45]:
df_english['tags']=df_english['tags'].apply(lambda x:x.lower())
df_hindi['tags']=df_hindi['tags'].apply(lambda x:x.lower())
df_bengali['tags']=df_bengali['tags'].apply(lambda x:x.lower())

C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/3587113109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_english['tags']=df_english['tags'].apply(lambda x:x.lower())
C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/3587113109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hindi['tags']=df_hindi['tags'].apply(lambda x:x.lower())
C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/3587113109.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bengali['tags']=df_bengali['tags'].apply(lambda x:x.lower())

In [46]:
import nltk

from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [47]:
df_english['tags']=df_english['tags'].apply(stem)
df_hindi['tags']=df_hindi['tags'].apply(stem)
df_bengali['tags']=df_bengali['tags'].apply(stem)

C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/2766650461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_english['tags']=df_english['tags'].apply(stem)
C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/2766650461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hindi['tags']=df_hindi['tags'].apply(stem)
C:\Users\MAINAK\AppData\Local\Temp/ipykernel_11336/2766650461.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bengali['tags']=df_bengali['tags'].apply(stem)

In [48]:
df_english.rename(columns = {'original_title':'title'}, inplace = True)

C:\Users\MAINAK\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [51]:
val = int(input('Type 1 for English, Type 2 for Hindi, Type 3 for bengali : '))


if (val==1):
    final_df=df_english
    
elif(val==2):
    final_df=df_hindi
    
elif(val==3):
    final_df=df_bengali
    
else:
    print('you enter wrong value')

final_df.head(1)


from sklearn.feature_extraction.text import CountVectorizer

cv= CountVectorizer(max_features=5000,stop_words='english')

vectors=cv.fit_transform(final_df['tags']).toarray()

from sklearn.metrics.pairwise import cosine_similarity as cs

similarity=cs(vectors)

def recommend(movie):
    movie_index=final_df[final_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(final_df['title'].iloc[i[0]])

movie=input('Type Movie Name: ') 

print('\033[7;32m Your movie recommendation related to {movie} ',f'\033[7;34m {movie} \n')

recommend(movie)

Type 1 for English, Type 2 for Hindi, Type 3 for bengali : 2
Type Movie Name: 3 Idiots
 Your movie recommendation related to {movie}   3 Idiots

Zindagi Na Milegi Dobara
Purani Jeans
Jaane Tu
Mungerilal B Tech
Karwaan

In [53]:
#pickle.dump(df_english.to_dict(),open('df_english.pkl','wb'))

#pickle.dump(df_hindi.to_dict(),open('df_hindi.pkl','wb'))
#pickle.dump(df_bengali.to_dict(),open('df_bengali.pkl','wb'))

#vectors1=cv.fit_transform(df_english['tags']).toarray()
#similarity1=cs(vectors1)
#vectors2=cv.fit_transform(df_hindi['tags']).toarray()
#similarity2=cs(vectors2)
#vectors3=cv.fit_transform(df_bengali['tags']).toarray()
#similarity3=cs(vectors3)
#similarity3

#pickle.dump(similarity1,open('similarity1.pkl','wb'))
#pickle.dump(similarity2,open('similarity2.pkl','wb'))
#pickle.dump(similarity3,open('similarity3.pkl','wb'))

poster_english=movies_english[['title','poster_url']]
poster_hindi=movies_hindi[['title','poster_url']]
poster_bengali=movies_bengali[['title','poster_url']]
poster_bengali